{% extends "base.html" %}

{% block title %}
Request Info
{% endblock %}

{% block content %}
<div class="container mx-auto py-16">
    <h1 class="text-4xl text-center font-extrabold text-white mb-8">Request Information</h1>

    <!-- Table des headers -->
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg mb-8">
        <h2 class="text-2xl font-semibold text-indigo-400 mb-4">Headers</h2>
        <table class="w-full text-left text-gray-300">
            <thead>
                <tr>
                    <th class="border-b border-gray-700 py-2">Header</th>
                    <th class="border-b border-gray-700 py-2">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in request_data['Headers'].items() %}
                <tr>
                    <td class="border-b border-gray-700 py-2">{{ key }}</td>
                    <td class="border-b border-gray-700 py-2">{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Table des paramètres d'URL -->
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg mb-8">
        <h2 class="text-2xl font-semibold text-indigo-400 mb-4">URL Parameters</h2>
        <table class="w-full text-left text-gray-300">
            <thead>
                <tr>
                    <th class="border-b border-gray-700 py-2">Key</th>
                    <th class="border-b border-gray-700 py-2">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in request_data['URL Parameters'].items() %}
                <tr>
                    <td class="border-b border-gray-700 py-2">{{ key }}</td>
                    <td class="border-b border-gray-700 py-2">{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Autres informations -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for key, value in request_data.items() %}
        {% if key not in ['Headers', 'URL Parameters'] %}
        <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-semibold text-indigo-400">{{ key }}</h2>
            {% if value is mapping or value is iterable and not value|string %}
            <pre class="text-sm text-gray-400 whitespace-pre-wrap">{{ value | tojson(indent=2) }}</pre>
            {% else %}
            <p class="text-lg">{{ value }}</p>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
